@media all and (min-width: 800px){
    body {
        max-width: 800px;
        margin: auto;
        position:relative;} }

@media all and (max-width: 800px){
    body { margin: 1em;
           position: relative;} }

body {
  font-family: "Ubuntu", serif; }

#me {
  position: absolute;
  top: 0.5em;
  width: 156px;
  height: 225px;}


@media all and (min-width: 800px){
    #me { left: 0%; } }

@media all and (max-width: 800px){
    #me { left: 0em; } }

#me:hover {}


#contact {
  position: absolute;
  top: 1em; }

@media all and (min-width: 800px){
    #contact { right: 0em; } }

@media all and (max-width: 800px){
    #contact { right: 0em; } }

#pgp {
  position: absolute;
  font-size: 0.625em;
  top: 6.125em; }

@media all and (min-width: 800px){
    #pgp { right: 10%; } }

@media all and (max-width: 800px){
    #pgp { right: 1em; } }

.title {
  text-align: left;
  margin-left: 170px;
  border-bottom-style: solid;
  border-bottom-color: lightgray; }

#table-of-contents {
  margin-left: 170px; }
  #table-of-contents h2 {
    display: none; }
  #table-of-contents ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }

#outline-container-publications li {
  margin: 1em;
  list-style-type: none; }

h1, h2, h3, h4 {
  font-weight: normal; }

#content {
  color: #2e2e2e; }


#outline-container-org5c541ad {
 padding-top: 125px;
}

.outline-text-3 {
  margin-left: 2em; }

h3 {
  margin-left: 1em;
  color: black;
  border-bottom-style: solid;
  border-bottom-color: lightgray; }

a {
  text-decoration: none;
  color: #4a708b; }

a:hover {
  text-decoration: underline; }

.img-link a {
  color: white; }

blockquote {
  border-left: 1px solid gray;
  padding-left: 4px; }

#doc-info {
  margin-top: 3em;
  margin: auto;
  float: center;
  text-align: center;
  font-size: 8pt;
  max-width: 75%; }

#firstHeader {
    padding-top: 120px;
}


